@import 'src/styles/colors';

header {
    padding: 16px 0;
    background-color: $white;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    h1 {
        font-size: 22px;
        line-height: 26px;
        color: $gray-3;
        margin: 0;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    nav {

        ul {
            display: flex;
            margin: 0;
            padding: 0;
            align-items: center;
            justify-content: space-between;

            li {
                margin: 0;
                padding: 0;
                list-style: none;

                button {
                    min-width: 148px;
                    padding: 7px 16px 6px;
                    text-decoration: none;
                    font-size: 16px;
                    line-height: 19px;
                    color: $black;
                    border-radius: 4px;
                    display: block;
                    text-align: center;
                    background-color: transparent;
                    border-width: 0;
                    cursor: pointer;

                    &.active {
                        color: $white;
                        background-color: $green;
                    }
                }
            }
        }
    }
}